
# Python / Backend

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
*.log

# Data (datasets, CSVs, large files)
data/
*.csv
*.parquet
*.xlsx


# Node / Frontend

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / Production folders
build/
dist/
.next/


# Environment variables

.env.local
.env.development.local
.env.test.local
.env.production.local


# IDE / OS

.vscode/
.idea/
.DS_Store
*.swp
