# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Data
/data/*.csv
/data/*.xlsx

# Optional: If you want to include preprocessed data, remove the last two lines
